[Desktop Entry]
Encoding=UTF-8
Name=Artiqox Core
Comment=Connect to the Artiqox P2P Network
Comment[de]=Verbinde mit dem Artiqox peer-to-peer Netzwerk
Comment[fr]=Artiqox, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Artiqox, eşten eşe kriptografik sanal para birimi
Exec=artiqox-qt %u
Terminal=false
Type=Application
Icon=artiqox128
MimeType=x-scheme-handler/artiqox;
Categories=Office;Finance;
