[Desktop Entry]
Encoding=UTF-8
Name=Artiqox
Comment=Artiqox P2P Cryptocurrency
Comment[fr]=Artiqox, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Artiqox, eşten eşe kriptografik sanal para birimi
Exec=artiqox-qt %u
Terminal=false
Type=Application
Icon=artiqox128
MimeType=x-scheme-handler/artiqox;
Categories=Office;Finance;
